*{
    box-sizing: border-box;
}

.header{
    margin: 1rem;
}

.footer{
    margin: 1rem;
}

#home, #about, #gallery, #shop, #contact{
    margin: 1rem;
}

.galleryImages{
margin: 1rem;
}

#about{
    margin: 6rem;
    width: 100vw;
}

#gallery, #galleryRow{
    width: 100vw;
}